<ion-view title="reFI Goals">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="showAddGoal()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="goal in goals" type="item-text-wrap">
        <h2>
          {{goal.name}}
          <span class="item-note">
            {{goal.amount | currency:"$":0 }}
          </span>
        </h2>
        <p>In {{goal.months}} months</p>
        <ion-option-button class="button-calm"
          ng-click="editGoal(goal)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive"
          ng-click="deleteGoal(goal)">
          Delete
        </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
