<ion-view title="Spendable">
  <ion-content has-header="true" padding="true">
    <div class="list">
      <div class="item">
        <co-progress-bar max="{{budget.allocated}}" current="{{budget.remaining}}" color="#000" trail-width="0" stroke-width="1" duration="1500"></co-progress-bar>
      </div>
      <div class="item item-body">
        <div class="button-bar">
          <a class="button button-positive">{{budget.allocated | currency:"$":2 }}</a>
          <a class="button button-assertive">{{budget.spent | currency:"$":2 }}</a>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="transaction in transactions" type="item-text-wrap">
        <i class="icon" ng-class="{
          assertive: transaction.status == 'confirmed' && transaction.amount < 0,
          balanced: transaction.status == 'confirmed' && transaction.amount > 0,
          stable: transaction.status == 'pending',
          'ion-arrow-left-c': transaction.amount < 0,
          'ion-arrow-right-c': transaction.amount > 0,
          royal: transaction.status == 'scheduled'
        }"></i>
        {{transaction.name}}
        <span class="item-note">
          {{transaction.amount | currency:"$":2 }}
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
